CLOUD_PROVIDER=aws
CLOUD_REGION=us-east-2
ORG_ID=eb2976d2-949c-xxxxxx-848321cca158

ENV_ID=env-26xxxxq
SCHEMA_REGISTRY_URL=https://psrc-xxxxx.us-east-2.aws.confluent.cloud
SCHEMA_REGISTRY_API_KEY=PBHJIxxxxxAR5WW
SCHEMA_REGISTRY_API_SECRET=cfltzk9wExukN7ZFR9JxxxxxxxoyQa60a8VONbF8kn/tufHJLAuPDGk2f0TIPg

CONFLUENT_CLUSTER_ID=lkc-xxxxx
CCLOUD_BOOTSTRAP_SERVERS=pkc-xxxx.us-east-2.aws.confluent.cloud:9092
CCLOUD_API_KEY=C6TxxxxZYEEFL2DA
CCLOUD_API_SECRET=cflt3ytf7m98jy5L8/ucRBxxxxxxxxxx/et/3Kzr1sve/iNxKiWe5cN9Dw

FLINK_COMPUTE_POOL_ID=lfcp-xxxxx
FLINK_API_KEY=5TMSOKK3xxxxxR
FLINK_API_SECRET=cfltMQGWFk8WJUvpbM4PtsmUnWTaxxxxxxx

TABLEFLOW_API_KEY=K4RE6B6xxxxxxx
TABLEFLOW_API_SECRET=cfltI8ieh7yAPxlKxxxxxxxgaXofjebjC4EBUIqEqK9pu/iV5Zw

# Optional: overrides the auto-detected participant namespace
# PARTICIPANT_ID=
